html {
  font-size: 18px;
}

/* body, header, logo, nav */
body {
  font-family: Helvetica;
}
@media screen and (min-width: 1025px) {
  .container {
      max-width: 960px;
      margin: 0 auto;
    } 
  .mobile {
    display: none;
  }
}
#logo {
  max-width:100%;
  background-color: black;
  color: white;
  padding: 0.66rem 0;
}
#logo img {
  height: 1.5rem;
  padding-left: .5rem;
}
#logo h1 {
  font-size: 1rem;
  text-transform: uppercase;
  padding-left: 1rem;
}
#logo .box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#banner {
  background: url('../images/moto.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 25rem;
  padding-top: 9rem;
}
#banner .box {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 28rem;
  height: 11rem;
  color: white;
}
#banner h6 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  margin: 2rem 0 0.25rem 3rem;
  letter-spacing: .15rem
}
#banner h2 {
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .12rem;
}
nav {
  background-color: firebrick;
}
nav .box {
  display: flex;
  justify-content: space-between;
  padding: .75rem 0;
}

/* heading and other common elements */
a {
  text-decoration: none;
  color: white;
}

/* main content */

.products {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}
.products .boxed {
  width: 30%;
}
.prod-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  height: 9rem;  
  padding: 2rem 0;
}
.products img {
  height: auto;
  max-width: 8rem;
}
.products .dark {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
}
/* Locations */

.loc {
  display: flex;
  justify-content: space-between;
}
.loc .boxed {
  width: 35%;
  margin: 0 0 4rem;
}
.loc .dark {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  margin: 0 0 .5rem;
}

/* footer */

footer {
  background-color: black;
  padding: 5rem 0;
  color: white;
  margin: auto;
}

/* media queries smaller screens */

/* tablets max-width 1024 */
@media screen and (max-width: 1024px) {
  #banner h6, #banner h2 {
    font-weight: normal;
  }
  #banner .box {
    width: 25rem;
  }
  nav .box {
    display: none;
  }
  .mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-menu {
    color: white;
    padding: .75rem 0;
  }
  .glasses {
    display: none;
  }
  .products .boxed {
    width: 47%;
  }
  .loc .boxed {
    width: 35%;
  }
}